
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1A1A1A;
}

header{
    border-bottom: 1px solid gray;
    /* display flex */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

header img{
    width: 10rem;
}

header nav ul{
    display: flex;
    list-style-type: none;
}

header nav ul li{
    margin: 5px;
}

header nav ul li a{
    color: white;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
}

/* style section */

main section h1{
    margin-top: 3rem;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 4rem;
    text-align: center;
}

main section h1 span{
    color: yellow;
}

main section p{
    color: white;
    font-family: sans-serif;
    text-align: center;
    margin: 2rem;
}